@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

header > nav > div.header__logo > p {
  font-size: 24px;
  color: #f9faf8;
}

header > nav > div.header__nav > ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header > nav > div.header__nav > ul > li > a {
  color: white;
  text-decoration: none;
}

header > nav > div.header__nav > ul > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header,
div.hero,
footer {
  background-color: #1f2937;
}

div.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding: 6rem 0;
  gap: 5rem;
}

div.hero > div.hero__content > h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}
div.hero > div.hero__content > p {
  font-size: 18px;
  color: #e5e7eb;
}

div.hero > div.hero__image {
  width: 450px;
  height: 200px;
  background-color: lightgray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 6rem 0;
}

div.info > h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

div.info > div.info__options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

div.info__options > div.option__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.info__options > div.option__block > div.option__image {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
div.info__options > div.option__block > div.option__image > img {
  max-width: 250px;
  object-fit: contain;
}

div.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

div.quote > div.quote__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

div.quote__text > h3 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
  margin-bottom: 0;
}
div.quote__text > p {
  text-align: right;
  font-weight: 700;
}

div.signup {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 3rem 0;
  gap: 3rem;
}

div.signup > div.signup__block {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 50%;
  color: white;
  border-radius: 1rem;
  padding: 3rem;
}
div.signup__block h4,
div.signup__block p {
  margin: 0;
}

footer {
  color: white;
  text-align: center;
}

.button__signUp {
  padding: 7px 1em;
  width: 120px;
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  text-decoration: none;
}
.button__signUp.button__signUp--transparent {
  border: 1px solid white;
}
